@using System.Security.Claims;
@{
    ViewData["Title"] = "Bienvenido a Sweet Delights";
}

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            @if (User.Identity!.IsAuthenticated)
            {
                <h1 class="display-4">Hola  @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault() estas en el sitio de Sweet Delights.</h1>

                <p class="text-muted">Tu destino dulce favorito para explorar una variedad infinita de deliciosos y vibrantes dulces.</p>

                <img src="~/images/Candy.jpg" class="img-fluid rounded mb-4" alt="Sweet Delights - Tienda de Golosinas" style="max-width: 400px; height: auto;">


                <p class="text-muted">Nuestro espacio está diseñado para capturar la alegría y la emoción de los dulces. Cada visita a Sweet Delights es una invitación a descubrir nuevos sabores y crear recuerdos dulces e inolvidables.</p>

            }
        </div>
    </div>
</div>
